**/node_modules/
.DS_Store
target/
bin/
test-results/
**/lib/
!org.eclipse.jdt.ls.tests/projects/singlefile/simple/lib/
!org.eclipse.jdt.ls.tests/projects/eclipse/testnullable2/lib/
!org.eclipse.jdt.ls.tests/projects/eclipse/testnullable3/lib/
!org.eclipse.jdt.ls.tests/projects/maven/salut5/node_modules/
!org.eclipse.jdt.ls.tests/fakejdk2/21a/bin
!org.eclipse.jdt.ls.tests/fakejdk2/21a/lib
maven-wrapper.jar
*.iml
.idea

# Keep vendored TeaVM source visible even though the upstream JDT LS ignore
# rules ignore generic lib/bin folders. Generated outputs remain ignored.
!third_party/
!third_party/**
third_party/teavm/.gradle/
third_party/teavm/**/build/
third_party/teavm/**/target/
third_party/teavm/**/node_modules/
